# Puerto y base de datos
NEON_DB_URL="postgresql://user:password@host/dbname?sslmode=require"

# Resend (Email API)
RESEND_API_KEY="re_123456789"
RESEND_FROM_EMAIL="Glastor B2B <ventas@tudominio.es>"

# Seguridad y Anti-Bot
TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"
ANALYTICS_SALT="random_salt_for_hashing_ips"

# Motor de búsqueda local / docker
MEILI_MASTER_KEY="tu_llave_secreta_aqui"

# Dominio del Frontend (CORS)
FRONTEND_URL="https://glastor.es"
